$color-beige: #e5ddcb
$color-green: #3a5d09
$color-accent: $color-green

$heading-font-family: "STK Bureau Serif", serif
$body-font-family: $heading-font-family

$header-background: none
$header-border-bottom-width: 0
$hero-background-color: $color-beige
$footer-background-color: none